footer.footer 
  .footer__wrapper._container
    .footer__logo 
      a.logo(href="/index.html") Food
        span.color_orange blog
    p.footer__text 
     |Lorem ipsum dolor sit amet consectetur adipisicing elit. 
     |Beatae accusamus earum repellendus exercitationem voluptatem, 
     |cupiditate eveniet odio, culpa ipsa dignissimos soluta deleniti?
     | Repellendus consequatur quaerat hic perspiciatis incidunt eum! Numquam.
    