header.header.container
        .header__logo
            a.logo(href="https://mihailryzij0.github.io/FoodBlog/") Food
                span.color_orange blog
        nav
            ul.header__menu
                li.header__item
                    a.header__link.button(href="./allRecipes.html")  Все рецепты  
                li.header__item
                    a.header__link.button(href="./feedBack.html") Обратная связь
                li.header__item
                    a.header__link.button(href="https://mihailryzij0.github.io/FoodBlog/#anchor") Подборка недели
                li.header__item
                    a.header__link.button(href="https://mihailryzij0.github.io/FoodBlog/#section-new") Авторское блюдо 
